# Compiled object files
*.o
*.obj
*.exe

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled executables
sniff-report

# IDE and editor files
.vscode/
.idea/

# Miscellaneous
*.log
*.bak
*.swp
*.swo
.DS_Store

